{% extends 'base.html' %}

<!-- start title  -->
{% block title %}

contact

{% endblock %}
<!-- end title  -->


<!-- start content  -->
{% block content %}



<div class="mt-5">
    <!-- <form action="" method="GET" class="form-group mr-auto ml-auto col-md-6"> -->
    <form action="" method="POST" class="form-group mr-auto ml-auto col-md-6">
        {% csrf_token %} 
        <h3 class=" text-center"> Contact Page </h3><br>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter you name"><br>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email"><br>
        <textarea name="comments" id="comments" class="form-control" cols="30" rows="10"
            placeholder="Enter your query.. "></textarea><br>
        <input type="submit" class="btn btn-info form-control" value="Submit">

    </form>

</div>

<!-- <div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <h2>Contact Us</h2>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti
                    asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita
                    illum iusto, aut repellat fuga!</p>
                <ul class="list-unstyled pl-md-5 mb-5">
                    <li class="d-flex text-black mb-2">
                        <span class="mr-3"><span class="icon-map"></span></span> 34 Street Name, City Name Here, <br>
                        United States
                    </li>
                    <li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +1
                        (222) 345 6789</li>
                    <li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o"></span></span> <a
                            href="/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="5e373038311e3327293b3c2d372a3b703d3133">[email&#160;protected]</a> </li>
                </ul>
            </div>
            <div class="col-md-6">
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" name="name" id="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message" class="col-form-label">Message</label>
                            <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                            <span class="submitting"></span>
                        </div>
                    </div>
                </form>
                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success">
                    Your message was sent, thank you!
                </div>
            </div>
        </div>

    </div> -->


{% endblock %}


<!-- end content   -->